:root{
  --main-color: #043730;
}
button{
  all: unset;
}
.accounts{
  display: flex;
  justify-content: center;
  gap: 10px;
  /* background-color: yellow; */
  width: 100vw;
  margin-top: 20px;
}
.accounts div{
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}
.name-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red !important; */
  justify-content: space-between;
}

.main-hr{
  margin-top: 50px;
  margin-inline: 50px;
}
hr::before{
  content: "";
}
.input-form{
  /* background-color: blue; */
  border: 1.5px solid grey;
  border-radius: 8px;
  padding-inline: 10px;
  padding-block: 10px;
  min-width: 300px;
}
h1{
  font-size: 4rem;
  font-weight: 400;
}
form div{ 
  display: flex;
  /* width: dvw; */
  font: 12px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* padding-inline: 10%; */
}
section{

}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding-block: 20px;
}
.form{
  background-color: white !important;
  padding-bottom: 20px;
  margin-inline: 50px;
  margin-top: 50px;
  border-radius: 20px;
}
.form hr{
  margin-block: 20px;
  margin-inline: 500px;
  position: relative;
}
.form hr::before{
  content: 'or continue with';
  position: absolute;
 
}
.btn{
  display: block;
  /* background-color: green; */
  min-width: 400px;
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}
.btn-red{
  background-color: tomato;
}
.btn-green{
  display: block;
  background-color: var(--main-color);
}
/* .btn:hover{
  background-color: var(--main-color);
} */
.signin-using{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
.add-account{
  background-color: rgb(216, 81, 57) !important;
  box-shadow: 2px 2px 10px grey !important; 
  /* border: 2px solid red; */
}
.odd-one{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}
a{
  color: var(--main-color) !important;
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
}
.link{
  display: flex;
  flex-direction: column;
  background-color: transparent !important;
}